n8n-workflow-example.json
{
  "name": "AI Director - Video Analysis Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "ai-director-trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/streams/create",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"video_path\": \"{{ $json.video_path }}\",\n  \"enable_audio\": {{ $json.enable_audio }},\n  \"stream_name\": \"{{ $json.stream_name }}\",\n  \"loop\": true\n}"
      },
      "name": "Create Video Stream",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [650, 300],
      "webhookId": "wait-for-processing"
    },
    {
      "parameters": {
        "url": "=http://localhost:8000/analysis/{{ $json.stream_id }}",
        "method": "GET",
        "options": {}
      },
      "name": "Get Analysis Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total_results }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Process and format analysis results\nconst results = $input.item.json.results;\nconst summary = {\n  stream_id: $input.item.json.stream_id,\n  total_results: $input.item.json.total_results,\n  summary: results.map(r => ({\n    timestamp: r.timestamp,\n    type: r.type,\n    content: r.content\n  }))\n};\n\nreturn { json: summary };"
      },
      "name": "Process Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/webhook/n8n/stream-event",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"event\": \"analysis_complete\",\n  \"stream_id\": \"{{ $json.stream_id }}\",\n  \"data\": {{ $json }}\n}"
      },
      "name": "Send to Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "name": "Wait Longer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {},
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Video Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Stream": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Analysis Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analysis Results": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Longer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Send to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Longer": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Get Analysis Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "ai-director-workflow",
  "meta": {
    "instanceId": "ai-director"
  },
  "tags": []
}
